.advices {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  &__title {
    margin: 0;
  }
}
