.copyright {
  display: flex;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
  }
}

.copyright__text {
  margin: 0;
  line-height: 26px;
  padding-bottom: 25px;
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    line-height: 26px;
  }
}

.copyright__icon {
  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      fill: $blue;
    }

    &:active {
      fill: $black-active;
    }
  }
}
