.features {
  position: relative;
  padding-top: 2px;

  }


.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.features__list-main {
  color: #ffffff;
  background-color: #81b3d2;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 0;
  }

  &--first {
    padding-top: 43px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }
}

.features__list-main-desc {
  padding-top: 31px;
  padding-right: 27px;
  padding-bottom: 39px;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    padding-top: 45px;
    padding-right: 47px;
    padding-bottom: 0;
    padding-left: 47px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-right: 48px;
    width: 400px;
  }
}

.features__list-title {
  padding-bottom: 7px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    padding-left: 3px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    padding-left: 74px;
    padding-right: 74px;
  }
}

.features__list-desc {
  padding-top: 17px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &--second {
    @media (min-width: $desktop-width) {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}

.features__list-image {
  display: block;

}

.features__list-other {
  display: flex;
  flex-direction: column;
  padding-right: 37px;
  padding-left: 37px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 18px;
    padding-bottom: 43px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    padding-bottom: 61px;
  }
}

.features__list-item {
  padding-bottom: 27px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    padding-left: 47px;
    padding-right: 47px;
  }
}

.features__list-number {
  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 21px;
  }
}

.features__list-img-wrap {
    &--second {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }
}
