.fieldset__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .fieldset__wrapper--places {
    width: 460px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .fieldset__wrapper--contacts {
    flex-direction: row;
    justify-content: space-between;
  }

  .fieldset__wrapper--places {
    justify-content: space-between;

  }
}

.fieldset__legend {
  font-weight: 700;
  font-size: 18px;

}

.fieldset__input,
.fieldset__wrapper--impress .fieldset__label,
.fieldset__wrapper--places .fieldset__label,
.fieldset__textarea {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family:inherit;
  }

  .fieldset__label {
    line-height: 26px;
  }

  .fieldset__textarea::placeholder {
    color: #000000;
  }
