.form__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__fieldset--impress {
    order: -1;
    flex-grow: 1;
  }

  .form__fieldset--name {
    flex-grow: 1;
  }

  .form__fieldset--contacts,
  .form__fieldset--places,
  .form__fieldset--comment {
    width: 100%;
  }
}

.form__btn {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  font-family: inherit;
}
