.main-desc {
  padding-top: 40px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 33px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 26px;
  }
}
