.main-header {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 54px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-header__logo {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 0;
    z-index: 1;
    margin-left: -51px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: -93px;
    width: auto;
  }
}

.main-header__logo-image {
  @media (min-width: $desktop-width) {
    width: 102px;
    height: 83px;
  }

  @media (min-width: $desktop-width) {
    width: 188px;
    height: 96px;
  }
}
