.main-header {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 54px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-header__logo {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 0;
    z-index: 1;
    margin-left: -51px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -93px;
  }
}

.main-header__logo-image {
  display: block;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;

    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
