.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }

  &--open {
    display: none;
    position: absolute;
    bottom: 12px;
    right: 20px;
    width: 27px;
    height: 27px;
    border: none;
    background: none;
    cursor: pointer;

    .main-nav__toggle-icon {
      fill: $blue;
    }
  }

  &--close {
    display: none;
    position: absolute;
    top: 16px;
    right: 22px;
    width: 27px;
    height: 27px;
    border: none;
    background: none;
    cursor: pointer;

    .main-nav__toggle-icon {
      fill: $white;
    }
  }
}
