.map__image {
  display: block;
  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
