.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  padding-top: 47px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.modal-error {
  display: none;
  padding-top: 46px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 400px;
    padding-left: 62px;
    padding-right: 62px;
  }
}

.modal-success {
  display: none;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal-success__title,
.modal-error__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.modal-success__title {
  @media (min-width: $tablet-width) {
    line-height: 26px;
  }
}

.modal-error__title {
  @media (min-width: $tablet-width) {
    line-height: 40px;
    padding-left: 13px;
    padding-right: 13px;
  }
}

.modal-success__desc,
.modal-error__desc {
  margin: 0;
  padding-top: 16px;
  padding-left: 44px;
  padding-right: 45px;
  padding-bottom: 38px;
}

.modal-success__desc {
  @media (min-width: $tablet-width) {
    padding-left: 112px;
    padding-right: 114px;
  }
}

.modal-error__desc {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.modal-success__btn-wrap {
  background-color: $grey;
  padding: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.modal-success__btn,
.modal-error__btn {
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $blue;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 75px;
  padding-right: 77px;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-left: 165px;
    padding-right: 165px;
    margin-top: 44px;
    margin-bottom: 44px;
  }
}

.modal-error__btn {
  @media (min-width: $tablet-width) {
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 0;
  }
}
