.photo {
  padding-top: 24px;
}

.photo__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 55px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 61px;
  }
}

.photo__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 80px;
    background-color: #f2f2f2;
  }
}

.photo__list-image {
    display: block;

    &--tablet,
    &--desktop {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: none;

      &--desktop {
        display: none;
      }
      &--tablet {
        display: block;
      }
    }

    @media (min-width: $desktop-width) {
      display: none;

      &--tablet {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }
  }

  .photo__list-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin: auto;

    @media (min-width: $tablet-width)  {
      padding-bottom: 0;
      margin: 0;
    }

    @media (min-width: $desktop-width)  {
      position: relative;
      color: #ffffff;
    }
}

  .photo__list-title {
    line-height: 24px;
    padding-top: 15px;
    margin: 0;

    @media (min-width: $tablet-width)  {
      position: absolute;
      left: 20px;
      padding-top: 15px;
    }
}

  .photo__list-author {
    text-transform: none;
    line-height: 24px;

    @media (min-width: $tablet-width)  {
      order: 1;
      position: absolute;
      left: 20px;
      top: 39px;
    }
}

  .photo__list-likes {
    padding-top: 8px;
    padding-left: 37px;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: $tablet-width)  {
      position: absolute;
      bottom: 11px;
      right: 21px;
      padding: 0;
    }
  }
