.photo {
  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
  }
}

.photo__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 61px;
  }
}

.photo__list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    padding-bottom: 11px;
    background-color: #f2f2f2;
    padding-left: 20px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__list-image {
  display: block;
}

.photo__list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
  padding-top: 21px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgba(242, 242, 242, 0.9);

  &:nth-child(2),
  &:nth-child(4) {
    .photo__list-like {
      @media (min-width: $tablet-width) {
        right: 30px;
      }
    }
  }

  &:nth-child(3) {
    .photo__list-wrapper {
      @media (min-width: $tablet-width) {
        background-color: #eaeaea;
      }

      @media (min-width: $desktop-width) {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    .photo__list-like {
      @media (min-width: $tablet-width) {
        right: 37px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    color: #ffffff;
  }
}

.photo__list-title {
  line-height: 24px;
  padding-top: 15px;
  margin: 0;
}

.photo__list-author {
  text-transform: none;
  line-height: 24px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.photo__list-like {
  display: flex;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 20px;
    padding-top: 27px;
  }
}

.photo__list-btn {
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 9px;
  }
}

.photo__list-icon {
  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}

.photo__list-number {
  line-height: 24px;
  font-weight: 700;
}
