.presentation {
  padding-top: 33px;
  padding-bottom: 5px;
  margin-bottom: 45px;
  position: relative;
  border-top: 1px solid rgba(242, 242, 242, 0.9);

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 11px;
    margin-bottom: 46px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.presentation__image {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.presentation__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}

.presentation__desc {
  line-height: 24px;
  margin: 0;
  padding-bottom: 33px;
  padding-left: 41px;
  padding-right: 41px;

  @media (min-width: $tablet-width) {
    padding-left: 103px;
    padding-right: 103px;
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
    padding-left: 180px;
    padding-right: 180px;
  }
}

.presentation__controls {
  width: 100%;
  min-height: 111px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.presentation__video-progress {
  position: absolute;
  min-height: 45px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 70px;
  left: 20px;

  @media (min-width: $tablet-width) {
    min-height: 93px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.presentation__video-scale {
  position: relative;
  width: 84%;
  height: 3px;
  margin-left: auto;
  margin-top: 22px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    width: 60%;
    margin-top: 45px;
    margin-left: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 67%;
  }
}

.presentation__video-marker {
  position: absolute;
  top: -100%;
  left: 36px;
  width: 9px;
  height: 9px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 112px;
  }
}

.presentation__video-buttons {
  max-width: 280px;
  min-height: 66px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    background-color: transparent;
    min-width: 648px;
    bottom: 13px;
  }
}

.presentation__video-replay,
.presentation__video-subtitles,
.presentation__video-fullscreen {
  position: absolute;
  border: none;
  background-color: transparent;
}

.presentation__video-subtitles {
  top: 22px;
  right: 68px;

  @media (min-width: $tablet-width) {
    right: 85px;
  }

  @media (min-width: $desktop-width) {
    right: -64px;
  }
}

.presentation__video-replay {
  top: 21px;
  left: 19px;

  @media (min-width: $tablet-width) {
    left: 30px;
  }
}

.presentation__video-fullscreen {
  top: 22px;
  right: 17px;

  @media (min-width: $tablet-width) {
    right: 34px;
  }

  @media (min-width: $desktop-width) {
    right: -116px;
  }
}

.presentation__video {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.presentation__video-icon {
  @media (min-width: $tablet-width) {
    fill: #ffffff;
  }
}
