.presentation {
  padding-top: 11px;
  padding-bottom: 116px;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }

}

.presentation__image {
  display: block;

  &--tablet,
  &--desktop {
    display: none;

    @media (min-width: $tablet-width) {
      display: none;

      &--desktop {
        display: none;
      }

      &--tablet {
        display: block;
      }
    }

    @media (min-width: $desktop-width) {
      display: none;

      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.presentation__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
    font-size: 30px;
  }
}

.presentation__desc {
  line-height: 24px;
  margin: 0;
  padding-bottom: 35px;
  padding-left: 41px;
  padding-right: 41px;

  @media (min-width: $tablet-width) {
    padding-left: 103px;
    padding-right: 103px;
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 95px;
  }
}

.presentation__controls {
  width: 280px;
  min-height: 111px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 46px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
  }
}

.presentation__video {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}
