.search-hotel__title,
.search-hotel__btn-result {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.search-hotel__desc {
  line-height: 24px;
}

.search-hotel__btn {
  width: 280px;
  background-color: #81b3d2;
}

.search-hotel__btn-result {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .search-hotel {
    &__title {
      font-size: 30px;
    }

    &__desc {
      line-height: 24px;
    }
  }
}
