@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
