.main-bg__image{
  position: relative;
  width: 320px;
  height: 160px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom 10px center, bottom 10px center;
}


.main-bg__image--index {
  position: relative;
  width: 320px;
  height: 389px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom 10px center, bottom 10px center;
}



.background__text--index {
  position: absolute;
  bottom: 25%;
  left: 20px;
}

.background__text {
  position: absolute;
  bottom: 67px;
  left: 45px;
}

