.photo-list {
  list-style: none;
  padding-left: 0;
}

.photo-list__title {
  line-height: 24px;
}

.photo-list__author {
  text-transform: none;
  line-height: 24px;
}

.photo-list__likes {
  line-height: 24px;
  font-weight: 700;
}
