$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$blue: #81b3d2;
$white: #ffffff;
$btn-hover: #669ec0;
$btn-active: #5496bd;
$white-active: rgba(255, 255, 255, 0.3);
$black-active: rgba(0, 0, 0, 0.3);
